ul {
  list-style-type: none;
  margin: 0;
  float: left;
  margin-right: 10px;
  border: 2px black;
}

ul li {
  margin: 5px;
  padding-left: 10px;
  padding 5px;
  font-size: 1.2em;
  width: 120px;
  border: 1px solid #666;
}
