<!doctype html>
<html ng-app="foodhack">
  <head>
    <title>TeamFood</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/nyan.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container" ng-controller="FoodCtrl">
      <div class="hero-unit">

        <div class="row">
          <div class="span4 pull-right">
            <div class="control-group">
              <div class="controls">
                <form class="form-inline">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-link"></i></span>
                  <input class="span2" id="shareInput" type="text">
                </div>
                <a class="btn" id="loginbutton" href="#" >
                    <i class="icon-user"></i> Login</a>
              </form>
              </div>
            </div>
          </div>
       </div>

       <div class="row">
          <div class="span12">
            <h1 class="title text-center" id="title">
              <i class="icon-food"></i>
              Thai Fooder
              <i class="icon-food icon-flip-horizontal"></i>
            </h1>
          </div>
        </div>

      </div> <!-- end hero unit -->

      <div class="row">

        <div class="span3">
          <div class="row">
            <div class="span3">
              <h3>Add Foods</h3>
              <form ng-submit="addFood()">
                <input type="text" ng-model="newFood.name" placeholder="Enter food">
                  </br>
                <input type="text" ng-model="newFood.desc" placeholder="Enter description">
                  </br>
                <input class="btn-primary" type="submit" value="add">
              </form>
            </div>
        </div>

        <div class="row">
          <div id="newFoodAlert" class="span3 alert alert-info" style="display: none">
            <i class="icon-star-empty"></i> New food added!
          </div>
        </div>
      </div> <!-- end span 3 -->

        <div class="span3">
	<h3> 
              <i class="icon-food"></i>
	       	Available</h3>
          <ul id="sortable1" class="connectedSortable">
            <li ng-repeat="food in optionFoods" class="ui-state-highlight">
              <h4>{{food.name}}</h4>
              <p>{{food.desc}}</p>
            </li>
          </ul>
  	</div>
  	  <div class="span3">
	  <h3>
		  To Order
              <i class="icon-food icon-flip-horizontal"></i></h3>
          <ul id="sortable2" class="connectedSortable">
            <li ng-repeat="food in selectedFoods" class="ui-state-highlight">
              <h4>{{food.name}}</h4>
              <p>{{food.desc}}</p>
            </li>
          </ul>
        </div>


     <div class="span3" ng-controller="UserCtrl">
        <table class="table table-striped table-bordered" id="users-list">
          <thead><tr><th>Online:</th></tr></thead>
          <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
          </tr>
        </table>
     </div>
   </div>
    </div>
    <div id="mainContainer">
        <div id="nyanCat">
            <div id="wholeHead">
                <div class="skin ear"></div>
                <div class="skin ear rightEar"></div>
                <div id="mainHead" class="skin">
                    <div class="eye"></div>
                    <div class="eye rightEye"></div>
                    <div class="nose"></div>
                    <div class="chick"></div>
                    <div class="chick rightChick"></div>
                    <div class="mouth">E</div>
                </div>
            </div>
            <div id="toastBody">
                <div>
                    &nbsp;  &nbsp; &nbsp;.&nbsp;&nbsp;.&nbsp; &nbsp; &nbsp;..&nbsp;  &nbsp; &nbsp;.&nbsp;.&nbsp; &nbsp; &nbsp;&nbsp&nbsp&nbsp;..&nbsp;  &nbsp; &nbsp;.&nbsp;&nbsp;.
                </div>
            </div>
            <div id="wholeTail">
                <div class="tail skin"></div>
                <div class="tail middleTail skin"></div>
                <div class="tail backTail skin"></div>
            </div>
            <div id="allYourLegAreBelongToUs">
                <div class="skin leg back leftBack"></div>
                <div class="skin leg back"></div>
                <div class="skin leg front leftFront"></div>
                <div class="skin leg front"></div>
            </div>
            <div class="rainbow"></div>
            <div class="rainbow r2"></div>
            <div class="rainbow r3"></div>
            <div class="rainbow r4"></div>
        </div>
        <div class="star starMovement1">
            <div number="1"></div>
            <div number="2"></div>
            <div number="3"></div>
            <div number="4"></div>
            <div number="5"></div>
            <div number="6"></div>
            <div number="7"></div>
            <div number="8"></div>
        </div>
        <div class="star starMovement2 backwards">
            <div number="1"></div>
            <div number="2"></div>
            <div number="3"></div>
            <div number="4"></div>
            <div number="5"></div>
            <div number="6"></div>
            <div number="7"></div>
            <div number="8"></div>
        </div>
        <div class="star starMovement3">
            <div number="1"></div>
            <div number="2"></div>
            <div number="3"></div>
            <div number="4"></div>
            <div number="5"></div>
            <div number="6"></div>
            <div number="7"></div>
            <div number="8"></div>
        </div>
       <div class="star starMovement4">
            <div number="1"></div>
            <div number="2"></div>
            <div number="3"></div>
            <div number="4"></div>
            <div number="5"></div>
            <div number="6"></div>
            <div number="7"></div>
            <div number="8"></div>
        </div>
        <div class="star starMovement5">
            <div number="1"></div>
            <div number="2"></div>
            <div number="3"></div>
            <div number="4"></div>
            <div number="5"></div>
            <div number="6"></div>
            <div number="7"></div>
            <div number="8"></div>
        </div>
    </div>
    <script src="http://api.goinstant.net/build/platform.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/setup.js"></script>
    <script src="js/food_ctrl.js"></script>
    <script src="js/user_ctrl.js"></script>
    <script src="js/share.js"></script>
    <script src="js/login.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/sizzle.js"></script>
    <script src="http://code.onion.com/fartscroll.js"></script>
    <script>
      fartscroll(100);
    </script>
    <audio loop="loop" src="audio/nyancat.ogg" autoplay="true">
    <script>
        document.getElementsByTagName('audio')[0].addEventListener('ended', function(){
            this.currentTime = 0;
        }, false);
    </script>
  </body>
</html>
